{% extends 'todo_app/base.html' %}
{% block title %}
  About
{% endblock title %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><center>About</center></h1>
      <p class="lead"><center>This is TO-DO list developed with Django</center></p>
      <p class="lead"><center>You can use this project for your Django Project</center></p>
      <p class="lead"><center>Click for Github link</center></p>
      <div class="text-center">
           <a href="https://github.com/B3kirov" class="btn btn-outline-success btn-lg " role="button" aria-pressed="true">Github Link</a> 
      </div>
    </div>
  </div>
{% endblock content %}